{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ setting.title}}  {% endblock %}
{% block keywords %}   {{ setting.keywords}}  {% endblock %}


{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'website/images/hero-website8.png' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
          	<p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-0 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section>


{% if message_name %}
<center>
    <h2>Thanks {{ message_name }}!</h2>
    <p>We recieved your email and will respond shortly....</p>
</center>

{% endif %}


    <section class="ftco-section ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(images/about-1.jpg);">
					</div>
					<div class="col-md-6 wrap-about px-md-5 ftco-animate py-5 bg-light">
	          <div class="heading-section py-md-5">
	          	<span class="subheading">Welcome to Mod Container Pools</span>
	            <h2 class="mb-4">Everything About Our Shipping Containers.</h2>

	            <p>{{ setting.aboutus|safe }}</p>

	            <a href="https://vimeo.com/45830194" class="play-video popup-vimeo d-flex align-items-center mt-4">
	            	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-play"></span></div>
	            	<span class="watch">Watch!</span>
	            </a>
	          </div>

					</div>
				</div>
			</div>
		</section>

		<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
    	<div class="container">
    		<div class="row">
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="612">0</strong>
                <span>OVer 600 Pools Buit</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="10">0</strong>
                <span>Years of Experience In Business</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="56">0</strong>
                <span>Our Qualified Designers</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="15">0</strong>
                <span>Services Points</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>

  

		
		<section class="ftco-appointment ftco-section img" style="background-image: url(images/bg_2.jpg);">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 half ftco-animate">
    				<h2 class="mb-4">Send a Message &amp; Get in touch!</h2>
    					<form action="{% url 'home' %}" class="appointment">
						 {% csrf_token %}
    					<div class="row">
								<div class="col-md-6">
									<div class="form-group">
			              <input type="text" class="form-control" name="message-name" placeholder="Your Name">
			            </div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
			              <input type="email" class="form-control" name="message-email" placeholder="Email">
			            </div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			    					<div class="form-field">
	          					<div class="select-wrap">
	                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
	                      <select name="message-order" id="" class="form-control">
	                      	<option value="">Services</option>
	                        <option value="">Order</option>
	                        <option value="">Pricing</option>
	                        <option value="">Custom Order</option>
	                        <option value="">Orther</option>
	                      </select>
	                    </div>
			              </div>
			    				</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			              <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
			            </div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			              <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
			            </div>
								</div>
    					</div>
	          </form>
    			</div>
    		</div>
    	</div>
    </section>

{% endblock %}