{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ setting.title}}  {% endblock %}
{% block keywords %}   {{ setting.keywords}}  {% endblock %}


{% block content %}
    
    <div class="hero-wrap" style="background-image: url('{% static 'website/images/new/banner.png' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
          <div class="col-md-6 ftco-animate d-flex align-items-end">
          	<div class="text w-100">
	            <h1 class="mb-4">Welcome to Mod Pools</h1>
	            <p class="mb-4">An in-demand option, a secure pool cover traps in heat, conserves water, and protects your pool from debris and unwanted access..</p>
	            <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a> <a href="#" class="btn btn-white py-3 px-4">Read more</a></p>
            </div>
          </div>
          <video href="{% static 'website/images/bann-vid' %}" class="img-video popup-vimeo d-flex align-items-center justify-content-center">
          	<span class="fa fa-play"></span>
          </video>
        </div>
      </div>
    </div>

{% if message_name %}
<center>
    <h2>Thanks {{ message_name }}!</h2>
    <p>We recieved your email and will respond shortly....</p>
</center>

{% endif %}


    <section class="ftco-intro">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-4 d-flex">
    				<div class="intro aside-stretch d-lg-flex w-100">
    					<div class="icon">
    						<span class="flaticon-checklist"></span>
    					</div>
    					<div class="text">
    						<h2>We hand select our shipping containers</h2>
    						<p>Single trip shipping containers are practically in mint condition. They have a marine grade epoxy applied to both the interior and the exterior along with a treated plywood floor..</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex">
    				<div class="intro color-1 d-lg-flex w-100">
    					<div class="icon">
    						<span class="flaticon-employee"></span>
    					</div>
    					<div class="text">
    						<h2>Reinforced Rim</h2>
    						<p>We strengthen the entire pool by adding a steel rim after cutting the container down to height. This gives us the smooth, clean edge around the perimeter of the pool..</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex">
    				<div class="intro color-2 d-lg-flex w-100">
    					<div class="icon">
    						<span class="flaticon-umbrella"></span>
    					</div>
    					<div class="text">
    						<h2>Superior Liner</h2>
    						<p>We line our Trek Pools with a specially blended spray on system, approved and used through the pool industry for over a decade. A clear top coat finish protects against chemicals and UV damage. The liner waterproofs and protects the interior of the pool..</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

		<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Services</span>
            <h2>How It Works</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4 d-flex align-items-stretch ftco-animate">
    				<div class="services-2 text-center">
    					<div class="icon-wrap">
    						<div class="number d-flex align-items-center justify-content-center"><span>01</span></div>
	    					<div class="icon d-flex align-items-center justify-content-center">
	    						<span class="flaticon-calendar"></span>
	    					</div>
    					</div>
    					<h2>Make Schedule</h2>
    					<p>contact us through our live chat to make and appointment or fell free to call text us  we are open 24/24.</p>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex align-items-stretch ftco-animate">
    				<div class="services-2 text-center">
    					<div class="icon-wrap">
    						<div class="number d-flex align-items-center justify-content-center"><span>02</span></div>
	    					<div class="icon d-flex align-items-center justify-content-center">
	    						<span class="flaticon-qa"></span>
	    					</div>
    					</div>
    					<h2>Start Discussion</h2>
  						<p>disucuss with our managers and designers on exactly what you want...</p>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex align-items-stretch ftco-animate">
    				<div class="services-2 text-center">
    					<div class="icon-wrap">
    						<div class="number d-flex align-items-center justify-content-center"><span>03</span></div>
	    					<div class="icon d-flex align-items-center justify-content-center">
	    						<span class="flaticon-checklist"></span>
	    					</div>
    					</div>
    					<h2>Order your 20Foot or 40Foot</h2>
  						<p>PLace your order now!</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'website/images/new/services-1.png' %});">
					</div>
					<div class="col-md-6 wrap-about px-md-5 ftco-animate py-5 bg-light">
	          <div class="heading-section">
	          	<span class="subheading">Welcome to Mod Container Pools</span>
	            <h2 class="mb-4">Is a Shipping Container Pool Right for You?.</h2>

	            <p>Shipping containers come in two sizes: 8 feet by 20 feet and 8 feet by 40 feet. Some manufacturers of shipping container pools cut the container's length down to 12 feet for a more space-friendly option..</p>
	            <p>A shipping container pool is more than just a shipping container filled with water. The manufacturer goes through an expensive conversion process.

Typically, they weld another layer of steel inside the corrugated steel walls to make the shipping container watertight from the inside. That second layer of steel adds a great amount of weight to the pool..</p>

	            <a href="https://vimeo.com/45830194" class="play-video popup-vimeo d-flex align-items-center mt-4">
	            	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-play"></span></div>
	            	<span class="watch">Watch Our Consultant Video</span>
	            </a>
	          </div>

					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Our Services</span>
            <h2 class="mb-3">Is a Shipping Container Pool Right for You?</h2>
          </div>
        </div>
				<div class="row tabulation mt-4 ftco-animate">
  				<div class="col-md-4">
						<ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
						  <li class="nav-item text-left">
						    <a class="nav-link active py-4" data-toggle="tab" href="#services-1">Sizing</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-2">The Inside Surface</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-3">Installation</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-4">The Cover</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-5">The Swim</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-6">Other Uses</a>
						  </li>
						</ul>
					</div>
					<div class="col-md-8">
						<div class="tab-content">
						  <div class="tab-pane container p-0 active" id="services-1">
						  	<div class="img" style="background-image: url({% static 'website/images/new/ser-1.jpg' %});"></div>
						  	<h3><a href="#">Sizing</a></h3>
						  	<p>Shipping containers come in two sizes: 8 feet by 20 feet and 8 feet by 40 feet. Some manufacturers of shipping container pools cut the container's length down to 12 feet for a more space-friendly option.</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-2">
						  	<div class="img" style="background-image: url({% static 'website/images/new/ser-2.png' %});"></div>
						  	<h3><a href="#">The Inside Surface</a></h3>
						  	<p>Some shipping container pools are then lined with a fiberglass shell. These pools raise the same concerns as traditional fiberglass pools: so-called "spider cracks" can develop in the surface, and like any surface damage, cracked fiberglass is difficult and expensive to repair.</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-3">
						  	<div class="img" style="background-image: url({% static 'website/images/new/ser-3.png' %});"></div>
						  	<h3><a href="#">Installation</a></h3>
						  	<p>A shipping container pool must be lowered into place by a crane. Unless you're getting a custom-trimmed container, it will need to be lowered onto an outdoor space that's 20- to 40-feet long. Endless Pools Fitness Systems are installed the same way and require 20-feet maximum, with less space required for most models. </p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-4">
						  	<div class="img" style="background-image: url({% static 'website/images/new/ser-4.png' %});"></div>
						  	<h3><a href="#">The Cover</a></h3>
						  	<p>An in-demand option, a secure pool cover traps in heat, conserves water, and protects your pool from debris and unwanted access.</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-5">
						  	<div class="img" style="background-image: url({% static 'website/images/new/ser-5.png' %});"></div>
						  	<h3><a href="#">The Swim</a></h3>
						  	<p>A 20-foot or 40-foot shipping container pool occupies a big chunk of outdoor real estate, and still, you can only swim a short lap before you must flip-turn at the wall. The longest shipping container pool is still less than half the length of a 'short course' competition pool!</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-6">
						  	<div class="img" style="background-image: url({% static 'website/images/new/ser-6.png' %});"></div>
						  	<h3><a href="#">Other Uses</a></h3>
						  	<p>Shipping container pools can be great for family fun. For aquatic exercise, water running, and physical therapy, they're limited by the single depth; for 20- and 40-foot models, the water is about 4.5 feet deep.</p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>

  



		<section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Price &amp; Plans</span>
            <h2>Affordable Packages</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4 ftco-animate d-flex">
	          <div class="block-7 w-100">
	            <div class="text-center">
		            <span class="price"><sup>$</sup> <span class="number">49</span> <sub>/mo</sub></span>
		            <span class="excerpt d-block">8 feet by 20 feet
</span>
		            <ul class="pricing-text mb-5">
		             <li><span class="fa fa-check mr-2"></span>Trek Pool Stair Design with 2 side benches</li>
		              <li><span class="fa fa-check mr-2"></span>Interior Trek Pool Liner System</li>
		              <li><span class="fa fa-check mr-2"></span>Exterior Marine Grade Trek Pool Coating System</li>
		              <li><span class="fa fa-check mr-2"></span>2 Color Changing LED lights</li>
		              <li><span class="fa fa-check mr-2"></span>Cartridge Filter</li>
		              <li><span class="fa fa-check mr-2"></span>Ultra Violet Sanitizer</li>
		              <li><span class="fa fa-check mr-2"></span>All Schedule 40 connections and fittings</li>
		            </ul>

		            <a href="#" class="btn btn-primary d-block px-2 py-3">Order Your 20 Foot Now!</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-4 ftco-animate d-flex">
	          <div class="block-7 w-100">
	            <div class="text-center">
		            <span class="price"><sup>$</sup> <span class="number">79</span> <sub>/mo</sub></span>
		            <span class="excerpt d-block">8 feet by 40 feet
</span>
		            <ul class="pricing-text mb-5">
		              <li><span class="fa fa-check mr-2"></span>Trek Pool Stair Design with 2 side benches</li>
		              <li><span class="fa fa-check mr-2"></span>Interior Trek Pool Liner System</li>
		              <li><span class="fa fa-check mr-2"></span>Exterior Marine Grade Trek Pool Coating System</li>
		              <li><span class="fa fa-check mr-2"></span>2 Color Changing LED lights</li>
		              <li><span class="fa fa-check mr-2"></span>Cartridge Filter</li>
		              <li><span class="fa fa-check mr-2"></span>Ultra Violet Sanitizer</li>
		              <li><span class="fa fa-check mr-2"></span>All Schedule 40 connections and fittings</li>

		            </ul>

		            <a href="#" class="btn btn-primary d-block px-2 py-3">Order Your 40 Foot Now!</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-4 ftco-animate d-flex">
	          <div class="block-7 w-100">
	            <div class="text-center">
		            <span class="price"><sup>$</sup> <span class="number">109</span> <sub>/mo</sub></span>
		            <span class="excerpt d-block">8 feet by 12 feet</span>
		            <ul class="pricing-text mb-5">
		              <li><span class="fa fa-check mr-2"></span>Trek Pool Stair Design with 2 side benches</li>
		              <li><span class="fa fa-check mr-2"></span>Interior Trek Pool Liner System</li>
		              <li><span class="fa fa-check mr-2"></span>Exterior Marine Grade Trek Pool Coating System</li>
		              <li><span class="fa fa-check mr-2"></span>2 Color Changing LED lights</li>
		              <li><span class="fa fa-check mr-2"></span>Cartridge Filter</li>
		              <li><span class="fa fa-check mr-2"></span>Ultra Violet Sanitizer</li>
		              <li><span class="fa fa-check mr-2"></span>All Schedule 40 connections and fittings</li>
		            </ul>

		            <a href="#" class="btn btn-primary d-block px-2 py-3">Order Your 12 Foot Now!</a>
	            </div>
	          </div>
	        </div>
	      </div>
    	</div>
    </section>
		
		<section class="ftco-appointment ftco-section img" style="background-image: url({% static 'website/images/bg_2.jpg' %});">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 half ftco-animate">
    				<h2 class="mb-4">Send a Message &amp; Get in touch!</h2>
    				<form action="{% url 'home' %}" class="appointment">
						 {% csrf_token %}
    					<div class="row">
								<div class="col-md-6">
									<div class="form-group">
			              <input type="text" class="form-control" name="message-name" placeholder="Your Name">
			            </div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
			              <input type="email" class="form-control" name="message-email" placeholder="Email">
			            </div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			    					<div class="form-field">
	          					<div class="select-wrap">
	                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
	                      <select name="message-order" id="" class="form-control">
	                      	<option value="">Services</option>
	                        <option value="">Order</option>
	                        <option value="">Pricing</option>
	                        <option value="">Custom Order</option>
	                        <option value="">Orther</option>
	                      </select>
	                    </div>
			              </div>
			    				</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			              <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
			            </div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			              <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
			            </div>
								</div>
    					</div>
	          </form>
    			</div>
    		</div>
    	</div>
    </section>


{% endblock %}